[submodule "homework2/lib/forge-std"]
	path = homework2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "CTF/lib/forge-std"]
	path = CTF/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
